aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
colorama
Django
frozenlist
gunicorn
idna
multidict
openai
requests
sqlparse
tqdm
tzdata
urllib3
yarl
python-docx
markdown
beautifulsoup4
openai
langchain-community
langchain_chroma
sentence-transformers
